{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Web Services - Program Assignment</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css"%}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css"%}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="{% static "vendor/magnific-popup/magnific-popup.css"%}"  rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static "css/creative.min.css"%}"  rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    {% include 'header.html' %}

    <header class="masthead text-center text-white d-flex">
        {% block content %} {% endblock %}
    </header>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static "vendor/jquery/jquery.min.js"%}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js"%}"></script>
    <script src="{% static "vendor/scrollreveal/scrollreveal.min.js"%}"></script>
    <script src="{% static "vendor/magnific-popup/jquery.magnific-popup.min.js"%}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static "js/creative.min.js"%}"></script>
    <script src="{% static "js/booksQuery.js"%}"></script>

  </body>

</html>
