{% extends 'base.html' %}
{% block content%}
    <div class="container my-auto">
    <div class="row">
        <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
            <strong>Python Django</strong>
        </h1>
        <hr>
        </div>
        <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Sample FORM for REST tryout</p>
        <div class="form-group">
            <input type="text" class="f" id="book_ID" aria-describedby="emailHelp" placeholder="Book ID">
        </div>
        <p class="text-faded mb-5">Send request to server using these buttons</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" id="single_book_submit">Get Single book data</a>
        <a class="btn btn-primary btn-xl js-scroll-trigger" id="all_books_submit">Get books</a>
        </div>
    </div>
    </div>
{% endblock %}
